@model Tuple<IEnumerable<UsuarioAlumno>, IEnumerable<UsuarioUniversidad>>
        <div class="containe">
            <div id="tbl1" class="table1cont">

                <table id="tablita">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th class="emp">Nombre de usuario</th>
                            <th class="empty"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var datos in Model.Item1)
                        {
                            <tr>
                                <td>@datos.idAlumno</td>
                                <td>@datos.usuario</td>
                                <td class="ancla"><a tdid="@datos.idAlumno">Detalles</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="p">
                    <div class="form-grp">
                        <div id="sec"></div>
                        <div id="partial"></div>
                    </div>
                </div>
                <div id="pob" hidden>
                    <div class="loader">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div id="tbl2" class="table2cont">
                <table id="tablita2">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de usuario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var datos in Model.Item2)
                        {
                            <tr>
                                <td>@datos.idUniversidad</td>
                                <td>@datos.usuario</td>
                                <td class="ancle"><a tdidu="@datos.idUniversidad">Detalles</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="p2">
                    <div class="form-grp2">
                        <div id="sec2"></div>
                        <div id="partial2"></div>
                    </div>
                </div>
                <div id="pob2" hidden>
                    <div class="loader">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var divp1 = document.getElementById('p');
    var divp2 = document.getElementById('p2');
    var progresbar = document.getElementById('pob');
    var progresbar2 = document.getElementById('pob2');
    var id = document.querySelectorAll('[tdid]');
    var idu = document.querySelectorAll('[tdidu]');
    var url = '@Url.Action("InfoA", "Principal")';
    var urlf = '@Url.Action("InfoU", "Principal")';
    var mostrador = document.getElementById('partial');
    var elemento = document.getElementById('sec');
    var mostrador2 = document.getElementById('partial2');
    var elemento2 = document.getElementById('sec2');
    id.forEach(detalle => {
        detalle.addEventListener('click', (event) => {
            event.preventDefault();
            progresbar.removeAttribute('hidden');
            divp1.setAttribute('hidden','hidden');
            mostrador.innerHTML = '';
            elemento.innerHTML = '';
            const varid = detalle.attributes.tdid.nodeValue;
            $.ajax({
                url: url,
                type: 'post',
                async: true,
                timeout:0,
                data: { id: varid },
                success: (succ) => {
                    $('#partial').append(succ);
                    setTimeout(function () {
                        var close = document.createElement('span');
                        close.setAttribute('id', 'close');
                        close.setAttribute('onclick', 'cerrar()')
                        close.innerHTML = 'X'
                        elemento.appendChild(close);
                        progresbar.setAttribute('hidden', 'hidden');
                        divp1.removeAttribute('hidden');
                    }, 5000);
                },
                error: (err)=> { console.log(err); }
            });
        });
    });

    function  cerrar  () {
        mostrador.innerHTML = '';
        elemento.innerHTML = '';
        };
        function cerrar2() {
            mostrador2.innerHTML = '';
            elemento2.innerHTML = '';
        };
    var sel = document.getElementById('sel');
    var option1 = document.getElementById('alecc');
    var option2 = document.getElementById('alecc2');
    var table1 = document.getElementById('tbl1');
    var table2 = document.getElementById('tbl2');
    option2.addEventListener('click', function () {
        sel.style.left = '57%';
        table1.style.right = '110%';
        table2.style.right = '100%';
    });
    option1.addEventListener('click', function () {
        sel.style.left = '10%';
        table1.style.right = '0%';
        table2.style.right = '0%';
    });
    idu.forEach(detalle => {
        detalle.addEventListener('click', function () {
            event.preventDefault();
            mostrador2.innerHTML = '';
            elemento2.innerHTML = '';
            const varid = detalle.attributes.tdidu.nodeValue;
            progresbar2.removeAttribute('hidden');
            divp2.setAttribute('hidden','hidden');
            $.ajax({
                url: urlf,
                type: 'post',
                data: { id: varid },
                success: (succ) => {
                    $('#partial2').append(succ);
                    setTimeout(function () {
                        var close = document.createElement('span');
                        close.setAttribute('id', 'close');
                        close.setAttribute('onclick', 'cerrar2()')
                        close.innerHTML = 'X'
                        elemento2.append(close);
                        progresbar2.setAttribute('hidden', 'hidden');
                        divp2.removeAttribute('hidden')
                    },5000);
                }
                , error: (err) => { console.log(err); }
            });
        });
    });
    </script>
<script type="text/javascript" src="~/js/addNavButtons.js"></script>